version: "3.9"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel-app
        volumes:
            - ./:/var/www/html
        depends_on:
            - redis
        networks:
            - laravel

    nginx:
        image: nginx:latest
        container_name: laravel-nginx
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    redis:
        image: redis:7-alpine
        container_name: laravel-redis
        ports:
            - "6379:6379"
        networks:
            - laravel

networks:
    laravel:
        driver: bridge
