
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel-app
        volumes:
            - ./:/var/www/html
        depends_on:
            - redis
        networks:
            - laravel

    nginx:
        image: nginx:latest
        container_name: laravel-nginx
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    redis:
        image: redis:7-alpine
        container_name: laravel-redis
        ports:
            - "6379:6379"
        networks:
            - laravel
    mysql:
        image: mysql:8.0
        container_name: laravel-mysql
        volumes:
            - mysql_data:/var/lib/mysql
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3307:3306"
        networks:
            - laravel


networks:
    laravel:
        driver: bridge
volumes:
    mysql_data:

